body {
    background-color: #fff5eb;
}

.header{
    text-align: center;
    color: black;
}

.pure-u-2-5 p {
    font-size: 16px;
}

.pure-u-1-8 img {
    text-align: center;
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
    width: 150px;
    height: 80px;
}

#ranking_desc {
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
}

#propotional_symbol_map {
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
}

#bump_chart {
    box-sizing: border-box;
    border-left: 3.2rem solid transparent;
}

#diverging_stack_bar_chart{
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
}

#bar_title{
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
    font-size: small;
}

#undergraduate_text{
    color: #fd8d3c;
}

#postgraduate_text{
    color: #feb24c;
}

#box_plot{
    box-sizing: border-box;
    border-left: 4.9rem solid transparent;
}

#box_title{
    box-sizing: border-box;
    border-left: 4.9rem solid transparent;
    font-size: small;
}

#fees_paragraph{
    box-sizing: border-box;
    border-left: 8.5rem solid transparent;
    font-size: small;
    line-height: 1.6;

}

#bubble_plot{
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
}

#bubble_title{
    box-sizing: border-box;
    border-left: 4.5rem solid transparent;
    font-size: small;
}

#scatter_plot{
    box-sizing: border-box;
    border-left: 2.5rem solid transparent;
}

#scatter_title{
    box-sizing: border-box;
    border-left: 5.2rem solid transparent;
    font-size: small;
}

