body {
    background-color: whitesmoke;
}

.page {
    width: 1300px;
    background-color: whitesmoke;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.header h1{
    text-align: center;
}

.header p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

.line_divider p{
    font-weight: bolder;
    line-height: 0.5;
}

.space {
    height: 10px;
}

.pure-u-7-8{
    padding-left: 15px;
    line-height: 50.6px;
    color: #012169;
}

.pure-u-1-9 img{
    width: 80px;
    display: grid;
    place-items: center;    
}

.pure-u-1-1 p{
    text-align: justify;
    line-height: 26px;
    color: #525252;
}

#map_title {
    text-align: center;
    font-size: small;
}

#bump_title{
    text-align: center;
    font-size: small;
    padding-left: 40px;
}

#bump_chart{
    padding-left: 40px;
}

#bar_title{
    text-align: center;
    font-size: small;
}

#box_plot{
    padding-left: 40px;
}

#box_title{
    text-align: center;
    font-size: small;
    padding-left: 40px;
}

#donut_title {
    text-align: center;
    font-size: small;
}

#dot_plot_title {
    text-align: center;
    font-size: small;
    padding-left: 80px;
}

#range_dot_plot{
    padding-left: 80px;
}

#bubble_title {
    text-align: center;
    font-size: small;
}

#scatter_title {
    text-align: center;
    font-size: small;
}

#scatter_plot {
    padding-left: 10px;
}

